.mat-card{
    background-color: #fafafa;
}

h2, p{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-raised-button{
    margin-right: 30px;
}


a {
    margin-left: 30px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-decoration: none;

}