<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <!-- <div class = "footer-list"> -->
              <div class = "logo">          
                  <span class="footer-logo-spacer">Sweet Treats</span>
              </div>
              <div class = "location">
                <span class = "footer-location-spacer">San Antonio, Texas</span>
              </div>
              <div class = "contactus">
                <span class = "footer-contactus-spacer">
                    <mat-icon class="footer-icon">contact_support</mat-icon>
                </span>
                  
              </div>
          <!-- </div> -->
          
          
        
        </mat-toolbar-row>
      </mat-toolbar>
      
      
</nav>
