.logo{
    flex: 2;
   
}

.location{
    flex: 2;
    text-align: center;
    
}

.contactus{
    flex: 2 ;
    justify-content: right;
    
}

// .footer-list{

//     //display:flex;
//     //align-items: center;
//     //flex-flow: row wrap;
//     //padding: 8px;
    
// }


nav{
    padding-top: 100px
}