
<mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Ultimate Chocolate Chip Cookies</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/chocolate-close-up-cookies-extrasmall.png" alt="Photo of chocolate chip cookies">
            <mat-card-actions>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                          <mat-panel-title></mat-panel-title>
                          <mat-panel-description>
                              View Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
                     <p>We named this cookie the “Ultimate Chocolate Chip Cookie” because it’s got everything a cookie connoisseur possibly could ask for. With a texture that balances tender and crunchy, it’s a favorite recipe that’s been top-rated by hundreds of satisfied customers. </p>
                     <div class="cookie-detail-container">
                       <p>
                          <mat-form-field>
                              <mat-select placeholder="Select Package">
                                  <mat-option value="option">10 Cookies</mat-option>
                                  <mat-option value="option">20 Cookies</mat-option>
                                  <mat-option value="option">30 Cookies</mat-option>
                                  <mat-option value="option">50 Cookies</mat-option>
                                  <mat-option value="option">100 Cookies</mat-option>
                                </mat-select>
                            </mat-form-field>
                       </p> 
                       <p>
                          <mat-form-field>
                              <input matInput placeholder="QTY">
                            </mat-form-field>
                       </p>
                       
                      <mat-action-row>
                          <button mat-raised-button>Add To Cart</button>
                      </mat-action-row>
                        
                     
                       
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Cupcakes</mat-card-title>          
            </mat-card-header>
            <img mat-card-image src="../../assets/images/baked-baked-goods-bakery-extrasmall.png" alt="Photo of a Shiba Inu">
            
            <mat-card-actions>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                          <mat-panel-title></mat-panel-title>
                          <mat-panel-description>
                              View Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
                     <p>You'll fall in love we these simple yet delightfully rich cupcakes! </p>
                     <div class="cookie-detail-container">
                       <p>
                          <mat-form-field>
                              <mat-select placeholder="Select Package">
                                  <mat-option value="option">10 Cupcakes</mat-option>
                                  <mat-option value="option">20 Cupcakes</mat-option>
                                  <mat-option value="option">30 Cupcakes</mat-option>
                                  <mat-option value="option">50 Cupcakes</mat-option>
                                  <mat-option value="option">100 Cupcakes</mat-option>
                                </mat-select>
                            </mat-form-field>
                       </p> 
                       <p>
                          <mat-form-field>
                              <input matInput placeholder="QTY">
                            </mat-form-field>
                       </p>
                       
                       <mat-action-row>
                          <button mat-raised-button>Add To Cart</button>
                       </mat-action-row>
                       
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Cakes</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/baked-bakery-baking-extrasmall.png" alt="Photo of a Shiba Inu">
           
            <mat-card-actions>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                          <mat-panel-title></mat-panel-title>
                          <mat-panel-description>
                              View Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
                     <p>These cakes are sure to impress!</p>
                     <div class="cookie-detail-container">
                       <p>
                          <mat-form-field>
                              <mat-select placeholder="Select Package">
                                  <mat-option value="option">10 Person Party Pack</mat-option>
                                  <mat-option value="option">20 Person Party Pack</mat-option>
                                  <mat-option value="option">30 Person Party Pack</mat-option>
                                  <mat-option value="option">50 Person Party Pack</mat-option>
                                  <mat-option value="option">100 Person Party Pack</mat-option>
                                </mat-select>
                            </mat-form-field>
                       </p> 
                       <p>
                          <mat-form-field>
                              <input matInput placeholder="QTY">
                            </mat-form-field>
                       </p>
                       
                       <mat-action-row>
                          <button mat-raised-button>Add To Cart</button>
                       </mat-action-row>
                       
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
   
  </mat-grid-list>

