
<mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Ultimate Chocolate Chip Cookies</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/chocolate-close-up-cookies-extrasmall.png" alt="Photo of chocolate chip cookies">
            <mat-card-actions>
                    <p>We named this cookie the “Ultimate Chocolate Chip Cookie” because it’s got everything a cookie connoisseur possibly could ask for. With a texture that balances tender and crunchy, it’s a favorite recipe that’s been top-rated by hundreds of satisfied customers. </p>
                    <div class="cookie-detail-container">
                      <p>
                     
                      </p> 
                     <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                            <p>
                                <mat-form-field>
                                        <input matInput placeholder="QTY"
                                        name = "chocolatechipQTY"
                                        [(ngModel)] = orderdetails.chocolateChipQty>
                                      </mat-form-field>
                                      
                                 </p>
                                 
                                <mat-action-row>
                                    <button mat-raised-button id="1" (click)="AddToCart(this.data.activeUserID, 1)" 
                                    >Add To Cart</button>
                                </mat-action-row>
                     </div>
                     <ng-template #loggedOut>
                         <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                     </ng-template>
                     
                    </div>
              
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Snickerdoodles</mat-card-title>          
            </mat-card-header>
            <img mat-card-image src="../../assets/images/OO-Snicker.jpg" alt="Photo of Snickerdoodles">
            
            <mat-card-actions>

                    <p>Our Snickerdoodles are baked fresh every morning. Super soft, buttery and loaded with cinnamon and sugar. </p>
                    <div class="cookie-detail-container">
                      <p>
                     
                      </p> 
                      <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                            <p>
                                <mat-form-field>
                                        <input matInput placeholder="QTY"
                                        name = "snickerdoodleQTY"
                                        [(ngModel)] = orderdetails.snickerdoodleQty>                        
                                      </mat-form-field>
                                 </p>
                                 
                                <mat-action-row>
                                    <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 2)">Add To Cart</button>
                                </mat-action-row>
                     </div>
                     <ng-template #loggedOut>
                         <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                     </ng-template>
                      
                     </div>

            
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Peanut Butter</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/OO-Peanut.jpg" alt="Photo of Peanutbutter cookies">
           
            <mat-card-actions>
                <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                    <div class="cookie-detail-container">
                            <p>
                            </p> 
                            <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                    <p>
                                        <mat-form-field>
                                                <input matInput placeholder="QTY"
                                                name = "peanutbutterQTY"
                                                [(ngModel)] = orderdetails.peanutbutterQty>
                                              </mat-form-field>
                                         </p>
                                         
                                        <mat-action-row>
                                            <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 3)">Add To Cart</button>
                                        </mat-action-row>
                             </div>
                             <ng-template #loggedOut>
                                 <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                             </ng-template>
                            
                           </div>
               
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  
                  <mat-card-title>M&M Cookies</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/OO-MM.jpg" alt="Photo of M&M Cookies">
               
                <mat-card-actions>
                    <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                        <div class="cookie-detail-container">
                                <p>
                                </p> 
                                <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                        <p>
                                            <mat-form-field>
                                                    <input matInput placeholder="QTY"
                                                    name = "MMQTY"
                                                    [(ngModel)] = orderdetails.mmCookieQty>
                                                  </mat-form-field>
                                             </p>
                                             
                                            <mat-action-row>
                                                <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 4)">Add To Cart</button>
                                            </mat-action-row>
                                 </div>
                                 <ng-template #loggedOut>
                                     <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                                 </ng-template>
                                
                               </div>
                   
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
       
 
        <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      
                      <mat-card-title>Oatmeal Raisin</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/OO-OatRaisin.jpg" alt="Photo of Oatmeal Raisin Cookies">
                   
                    <mat-card-actions>
                        <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                            <div class="cookie-detail-container">
                                    <p>
                                    </p> 
                                    <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                            <p>
                                                <mat-form-field>
                                                        <input matInput placeholder="QTY"
                                                        name = "oatmealRaisinQTY"
                                                        [(ngModel)] = orderdetails.oatmealRaisinQty>
                                                      </mat-form-field>
                                                 </p>
                                                 
                                                <mat-action-row>
                                                    <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 5)">Add To Cart</button>
                                                </mat-action-row>
                                     </div>
                                     <ng-template #loggedOut>
                                         <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                                     </ng-template>
                                    
                                   </div>
                       
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>
           

            <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                          
                          <mat-card-title>Sugar</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/images/OO-Sugar.jpg" alt="Photo of Sugar Cookies">
                       
                        <mat-card-actions>
                            <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                                <div class="cookie-detail-container">
                                        <p>
                                        </p> 
                                        <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                                <p>
                                                    <mat-form-field>
                                                            <input matInput placeholder="QTY"
                                                            name = "sugarQTY"
                                                            [(ngModel)] = orderdetails.sugarQty>
                                                          </mat-form-field>
                                                     </p>
                                                     
                                                    <mat-action-row>
                                                        <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 6)">Add To Cart</button>
                                                    </mat-action-row>
                                         </div>
                                         <ng-template #loggedOut>
                                             <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                                         </ng-template>
                                        
                                       </div>
                           
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>
               
                <mat-grid-tile>
                        <mat-card class="example-card">
                            <mat-card-header>
                              
                              <mat-card-title>Pecan Chocolate Chip</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="../../assets/images/OO-ChocChipPecan.jpg" alt="Photo of Pecan Chocolate Chip Cookies">
                           
                            <mat-card-actions>
                                <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                                    <div class="cookie-detail-container">
                                            <p>
                                            </p> 
                                            <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                                    <p>
                                                        <mat-form-field>
                                                                <input matInput placeholder="QTY"
                                                                name = "pecanChocoQTY"
                                                                [(ngModel)] = orderdetails.pecanChipQty>
                                                              </mat-form-field>
                                                         </p>
                                                         
                                                        <mat-action-row>
                                                            <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 7)">Add To Cart</button>
                                                        </mat-action-row>
                                             </div>
                                             <ng-template #loggedOut>
                                                 <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                                             </ng-template>
                                            
                                           </div>
                               
                            </mat-card-actions>
                          </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <mat-card-header>
                                  
                                  <mat-card-title>Mint Chocolate Chip</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/images/OO-MintChoc.jpg" alt="Photo of Mint Chocolate Chip Cookies">
                               
                                <mat-card-actions>
                                    <p>Peanut butter cookies made with real, freshly made peanut butter.</p>
                                        <div class="cookie-detail-container">
                                                <p>
                                                </p> 
                                                <div class="cartoptions" *ngIf="this.data.isLoggedIn; else loggedOut">
                                                        <p>
                                                            <mat-form-field>
                                                                    <input matInput placeholder="QTY"
                                                                    name = "mintchocoQTY"
                                                                    [(ngModel)] = orderdetails.mintChocoQty>
                                                                  </mat-form-field>
                                                             </p>
                                                             
                                                            <mat-action-row>
                                                                <button mat-raised-button (click)="AddToCart(this.data.activeUserID, 8)">Add To Cart</button>
                                                            </mat-action-row>
                                                 </div>
                                                 <ng-template #loggedOut>
                                                     <a mat-raised-button routerLink="/login">To start ordering please log in.</a>                          
                                                 </ng-template>
                                                
                                               </div>
                                   
                                </mat-card-actions>
                              </mat-card>
                        </mat-grid-tile>
                                  
  </mat-grid-list>

