<mat-card class="home-image">
  <!-- <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Sweet Treats</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->

  <img mat-card-image src="../../assets/images/chocolateChipCoverCrop.jpeg" alt="Sweet Treats Image">
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>


<mat-card class="about-section">

  <mat-card-title>Welcome To Sweet Treats</mat-card-title>
  <p>
    Sweet Treats was created in 2016 for two simple reason, we love sweet treats and love sharing them!
    Our story first started by baking our treats and sharing them with our family, friends and neigbors, who later encourged us to branch out into creating our own shop. 
    Since then we've grown to be the number one in San Antonio for fresh and delicious treats! We've also upped our game by only using localy sourced organic ingredients.     
  </p>
  <p>We welcome you to stop by one of our shops anytime to sample any of our available treats and even test drive some of our newer creations!</p>
</mat-card>


<app-main-page-extras></app-main-page-extras>